<!-- rubric72
The footer bar should always be at the bottom of the page
Implemented in styles.css -->


<footer>
    <div class="container text-md-left text-center">
      <div class="row pt-3">
        <div class="col-md-9 mx-auto">
          <h5 class="text-uppercase">Worldwide Importers</h5>
          <p>111 Lorem Ipsum Road, Lorem, LI, 11111, USA</p>
          <p> +1 (111)-111-1111</p>
        </div>

        <div class="col-md-3 mx-auto">
          <h5 class="text-uppercase">More</h5>
          <ul class="list-unstyled">
            <li>
                <!-- rubric74
                User shall see a link to the about page  -->
                <!-- rubric77
                Clicking on the about page link should take the user to the about
                page -->
              <a routerLink="/about">About Us</a>
            </li>
            <li>
                <!-- rubric75
                User shall see a link to the contact page  -->
                <!-- rubric78
                Clicking on the contact page link should take the user to the
                contact page -->
              <a routerLink="/contact">Contact Us</a>
            </li>
            <li>
                <!-- rubric73
                User shall see a link to the home page  -->
                <!-- rubric76
                Clicking on the home page link should take the user to the home
                page -->
              <a routerLink="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div class="text-center py-3">&copy;Worldwide Importers. All Rights Reserved.</div>
</footer>
