<!-- rubric46
The product page is accessible at
http://localhost:8080/#/product?name=productname  -->
<!-- rubric80
Used jQuery or Angular for data binding  -->
<div *ngIf="displayStaticAlert" class="alert alert-header alert-success box-msg text-center" role="alert">
    <div class="alert-text">Item added to Shopping Cart!</div>
  </div>

<div class="container">
  <div class="row custom-row">
    <div class="col-sm-6 my-auto">
        <!-- rubric36
        The user should an image of the selected product  -->
      <img
        [src]="product.imagelink"
        [alt]="product.name"
        class="img-showcase img-fluid"
      />
    </div>
    <div class="col-sm-6">
      <div class="text-center mb-5">
          <!-- rubric35
          The user should the name of the selected product -->
        <h1>{{ product.name }}</h1>
      </div>
      <div class="text-center mb-5">
          <!-- rubric37
          The user should see the rating of the selected product  -->
        <h3>Rating: {{ product.rating }}/5</h3>
      </div>
      <div class="text-center mb-5">
          <!-- rubric39
          The user should see the price of the selected product  -->
        <h3>Price: {{ product.price | currency: "$" }}</h3>
      </div>
      <div class="text-center mb-5">
          <!-- rubric40
          The user should see a description of the selected product -->
        <h3>{{ product.description }}</h3>
      </div>
      <div class="text-center mb-5">
          <!-- rubric38
          The user should see the number of items in stock of the selected
          product -->
        <h3>Stock: {{ product.stock }}</h3>
      </div>
      <div class="text-center mb-5">
        <form>
          <div class="form-group">
              <!-- rubric42 
              The user should see an input field labeled “Qty”  -->
            <label for="quantity" class="mr-1">Select Qty</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              min="1"
              max="{{product.stock}}"
              [(ngModel)]="userQuantity"
            />
          </div>
          <!-- rubric41
          The user should see a button labeled “Add” -->
          <!-- rubric44
          Clicking the “Add” button should add the number of units
          specified in the “Qty” input field of the selected product to the
          shopping cart  -->
          <button (click)="submitToCart(product)" class="btn btn-primary">Add to Cart</button>
          <div><small class="text-danger" *ngIf="quantityWarning">Please select a quantity between 1 and Product Stock Level</small></div>
        </form>
      </div>

      <div class="text-center mb-5">
          <!-- rubric43
          The user should see a button labeled “Back”  -->
          <!-- rubric45
          Clicking the “Back” button should take the user back to where
          they came from, whether it was the Shopping page or the
          Product Page.  -->
        <button class="btn btn-secondary" routerLink="/shopping">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
